<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
	</appender>
	
	<logger name="org.hibernate.transaction.JDBCTransaction" level="DEBUG" />
	<logger name="org.hibernate.jdbc.ConnectionManager" level="DEBUG" />
	<logger name="org.springframework.orm.jpa.JpaTransactionManager" level="DEBUG" />

	<root level="ERROR">
		<appender-ref ref="FILE" />
	</root>
	
</configuration>